* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.header-wrapper {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    color: white;

}

.header-nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 20px 10px;
}

.header-nav a:hover {
    text-decoration: underline;
}

.showcase {
    background: url("images/bless-pier.jpg") no-repeat center fixed;
    background-size: cover;
    height: 100vh;
}

.showcase-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
    padding: 0 50px;
    height: 100vh;
    margin: auto;
    text-align: center;
    color: white;
}

.showcase-verse-text {
    font-size: 3rem;
    text-shadow: 1.5px 1.5px black;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    line-height: 4.5rem;
}

.showcase-verse-ref {
    font-size: 2rem;
    text-align: right;
}

.showcase-buttons {
    display: flex;
    margin-top: 4rem;
}

.showcase-buttons-button {
    border: 3px solid rgb(83, 67, 55);
    background-color: rgba(108, 86, 70, 0.9);
    padding: 10px 25px;
    margin: 0 50px;
    border-radius: 20px;
    font-size: 2rem;
    color: white;
}

.showcase-buttons-button:hover {
    background-color: rgb(83, 67, 55);
    cursor: pointer;
}


.main-wrapper {
    width: 1200px;
    margin: auto;
}

#about-god,
#our-church {
    padding: 40px 50px;
}

.about-god-content,
.our-church-content {
    display: flex;
    justify-content: space-between;
}

h2 {
    font-variant: small-caps;
    font-size: 2rem;
}

.quote {
    font-family: Laila, sans-serif;
    margin-bottom: 0;
    font-style: italic;
}

.quote-ref {
    text-align: right;
    margin-top: 0;
    font-family: Laila, sans-serif;
}

.about-god-intro {
    padding-right: 75px;
}

p {
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
    line-height: 1.65rem;
}

.key-point {
    border-radius: 10px;
    color: white;
    background-color: #464F6C;
    margin: 10px 0;
    padding: 15px 25px;
    font-size: 1.1rem;
    letter-spacing: 0.03rem;
    font-family: Laila, sans-serif;
}

#our-church h2 {
    padding-bottom: 20px;
}

.our-church-contact {
    border-radius: 10px;
    color: white;
    background-color: #464F6C;
    padding: 10px 40px;
}

.our-church-contact h3 {
    font-variant: small-caps;
    font-size: 1.5rem;
}

.our-church-about {
    display: flex;
    margin: 75px 0;
}

.our-church-about-info {
    margin-left: 75px;
}

.our-church-about-info p:first-child {
    margin-top: 0;
}

.footer {
    background-color: #464F6C;
    color: white;
}

.footer-wrapper {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    letter-spacing: 0.15rem;
    width: 1200px;
    margin: auto;
}

.footer-logo {
    margin-right: 75px;
}

.button {
    display: inline-block;
    border-radius: 10px;
    padding: 10px 40px;
    margin: 15px;
    background-color: rgb(108, 86, 70);
    color: white;
    text-decoration: none;
    letter-spacing: 0.25rem;
}

.button:hover {
    background-color: rgb(83, 67, 55);
}

.flex-p {
    display: flex;
    justify-content: center;
}
